<%= simple_form_for @vehicle, :html => { :class => 'form-vertical' } do |f| %>

  <% if f.object.new_record? -%>
    <%= f.association :user, collection: User.none, input_html: {class: 'select2AjaxGetUsers'} %>
  <% else -%>
    <select class="form-control select2AjaxGetUsers" name="vehicle[user_id]">
      <option selected="selected" value="<%= f.object.user.id -%>">
        <%= "#{f.object.user.try(:name)} - #{f.object.user.try(:email)}" -%>
      </option>
    </select>    
  <% end -%>

  <%= f.input :description %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vehicles_path, :class => 'btn btn-default' %>
<% end %>
